@page "/"
@using ExpertAdministration.Web.Common
@inject NavigationHistory NavigationHistory

<PageTitle>Status Monitor</PageTitle>

<h1>Hello, world!</h1>

Welcome to ExpertBG's admin panel!

<SurveyPrompt Title="How is Blazor working for you?"/>
